# 1 Imports y configuraciones

In [1]:
!jupyter --version

Selected Jupyter core packages...
IPython          : 8.4.0
ipykernel        : 6.15.1
ipywidgets       : 7.7.1
jupyter_client   : 7.3.4
jupyter_core     : 4.11.1
jupyter_server   : not installed
jupyterlab       : not installed
nbclient         : 0.6.6
nbconvert        : 6.5.0
nbformat         : 5.4.0
notebook         : 6.4.12
qtconsole        : 5.3.1
traitlets        : 5.3.0

In [2]:
from pathlib import Path

import airportsdata as airdata
import numpy as np
import pandas as pd

# 2. Exploratory Data Analysis
## 2.1 Leer dataset

In [3]:
data = pd.read_csv(Path().joinpath('data', 'dataset_SCL.csv'))

C:\Users\Admin\AppData\Local\Temp\ipykernel_15104\2557340355.py:1: DtypeWarning: Columns (1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(Path().joinpath('data', 'dataset_SCL.csv'))

## 2.2 Chequear y corregir data types

De acuerdo a la documentación del desafío, las columnas son las siguientes:

- Fecha-I : Fecha y hora programada del vuelo. &rarr; **datetime**
- Vlo-I : Número de vuelo programado. &rarr; **integer**
- Ori-I : Código de ciudad de origen programado. &rarr; **string**
- Des-I : Código de ciudad de destino programado. &rarr; **string**
- Emp-I : Código aerolínea de vuelo programado. &rarr; **string**
- Fecha-O : Fecha y hora de operación del vuelo. &rarr; **datetime**
- Vlo-O : Número de vuelo de operación del vuelo. &rarr; **integer**
- Ori-O : Código de ciudad de origen de operación. &rarr; **string**
- Des-O : Código de ciudad de destino de operación. &rarr; **string**
- Emp-O : Código aerolínea de vuelo operado. &rarr; **string**
- DIA : Día del mes de operación del vuelo. &rarr; **integer**
- MES : Número de mes de operación del vuelo. &rarr; **integer**
- AÑO : Año de operación del vuelo. &rarr; **integer**
- DIANOM : Día de la semana de operación del vuelo. &rarr; **string**
- TIPOVUELO : Tipo de vuelo, I =Internacional, N =Nacional. &rarr; **string (binary)**
- OPERA : Nombre de aerolínea que opera. &rarr; **string**
- SIGLAORI : Nombre ciudad origen. &rarr; **string**
- SIGLADES : Nombre ciudad destino. &rarr; **string**

In [4]:
print(data.info())
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68206 non-null  object
 1   Vlo-I      68206 non-null  object
 2   Ori-I      68206 non-null  object
 3   Des-I      68206 non-null  object
 4   Emp-I      68206 non-null  object
 5   Fecha-O    68206 non-null  object
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68206 non-null  object
 8   Des-O      68206 non-null  object
 9   Emp-O      68206 non-null  object
 10  DIA        68206 non-null  int64
 11  MES        68206 non-null  int64
 12  AÑO        68206 non-null  int64
 13  DIANOM     68206 non-null  object
 14  TIPOVUELO  68206 non-null  object
 15  OPERA      68206 non-null  object
 16  SIGLAORI   68206 non-null  object
 17  SIGLADES   68206 non-null  object
dtypes: int64(3), object(15)
memory usage: 9.4+ MB
None

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68201,2017-12-22 14:55:00,400,SCEL,SPJC,JAT,2017-12-22 15:41:00,400.0,SCEL,SPJC,JAT,22,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima
68202,2017-12-25 14:55:00,400,SCEL,SPJC,JAT,2017-12-25 15:11:00,400.0,SCEL,SPJC,JAT,25,12,2017,Lunes,I,JetSmart SPA,Santiago,Lima
68203,2017-12-27 14:55:00,400,SCEL,SPJC,JAT,2017-12-27 15:35:00,400.0,SCEL,SPJC,JAT,27,12,2017,Miercoles,I,JetSmart SPA,Santiago,Lima
68204,2017-12-29 14:55:00,400,SCEL,SPJC,JAT,2017-12-29 15:08:00,400.0,SCEL,SPJC,JAT,29,12,2017,Viernes,I,JetSmart SPA,Santiago,Lima
68205,2017-12-31 14:55:00,400,SCEL,SPJC,JAT,2017-12-31 15:04:00,400.0,SCEL,SPJC,JAT,31,12,2017,Domingo,I,JetSmart SPA,Santiago,Lima

Al parecer hay columnas con más de un tipo de dato, veamos cuales.

*Obs: Los códigos de aeropuerto están en formato ICAO.*

In [5]:
for i in data.columns:
    print(i, data[i].apply(lambda x: type(x).__name__).value_counts().to_dict())

Fecha-I {'str': 68206}
Vlo-I {'str': 65536, 'int': 2670}
Ori-I {'str': 68206}
Des-I {'str': 68206}
Emp-I {'str': 68206}
Fecha-O {'str': 68206}
Vlo-O {'str': 65535, 'float': 2671}
Ori-O {'str': 68206}
Des-O {'str': 68206}
Emp-O {'str': 68206}
DIA {'int': 68206}
MES {'int': 68206}
AÑO {'int': 68206}
DIANOM {'str': 68206}
TIPOVUELO {'str': 68206}
OPERA {'str': 68206}
SIGLAORI {'str': 68206}
SIGLADES {'str': 68206}

Las columnas 'Vlo-I' y 'Vlo-O' tienen mezclados int/float y str, por lo que se transformarán a int solamente ya que representan números de vuelo. Adicionalmente, las columnas de fecha son strings pero deberían convertirse a datetime.

In [6]:
data = data.convert_dtypes()  # Cast object to str where possible
data[['Fecha-I', 'Fecha-O']] = data[['Fecha-I', 'Fecha-O']].apply(pd.to_datetime, format='%Y-%m-%d %H:%M:%S')

Como los valores que se convertirán a int vienen como str, no necesariamente se podrán convertir por lo que hay que chequear que sean correctos

In [7]:
# Check which rows can't be cast from str to number
not_numeric_1 = data['Vlo-I'].apply(pd.to_numeric, errors='coerce').isna()
not_numeric_2 = data['Vlo-O'].apply(pd.to_numeric, errors='coerce').isna()
not_numeric = (not_numeric_1 | not_numeric_2)
data.loc[not_numeric]

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
6068,2017-01-19 11:00:00,200,SCEL,SPJC,LAW,2017-01-19 11:03:00,NaN,SCEL,SPJC,56R,19,1,2017,Jueves,I,Latin American Wings,Santiago,Lima
13906,2017-03-30 10:30:00,71,SCEL,SCIE,SKU,2017-03-30 10:50:00,71R,SCEL,SCIE,SKU,30,3,2017,Jueves,N,Sky Airline,Santiago,Concepcion
13907,2017-03-22 11:00:00,1071,SCEL,SCIE,SKU,2017-03-22 11:00:00,71R,SCEL,SCIE,SKU,22,3,2017,Miercoles,N,Sky Airline,Santiago,Concepcion
17055,2017-03-22 10:00:00,201,SCEL,SCIE,LXP,2017-03-22 11:50:00,201R,SCEL,SCIE,LXP,22,3,2017,Miercoles,N,Grupo LATAM,Santiago,Concepcion
19207,2017-04-25 09:00:00,71,SCEL,SCIE,SKU,2017-04-25 09:29:00,71R,SCEL,SCIE,SKU,25,4,2017,Martes,N,Sky Airline,Santiago,Concepcion
22167,2017-04-06 21:10:00,43,SCEL,SCIE,LAW,2017-04-06 21:24:00,43R,SCEL,SCIE,JMR,6,4,2017,Jueves,N,Latin American Wings,Santiago,Concepcion
22232,2017-05-13 21:50:00,989P,SCEL,SUMU,AAL,2017-05-13 21:52:00,989,SCEL,SUMU,AAL,13,5,2017,Sabado,I,American Airlines,Santiago,Montevideo
22301,2017-05-26 09:40:00,401,SCEL,LFPG,AFR,2017-05-26 10:03:00,401A,SCEL,LFPG,AFR,26,5,2017,Viernes,I,Air France,Santiago,Paris
22302,2017-05-28 09:40:00,401,SCEL,LFPG,AFR,2017-05-28 09:43:00,401B,SCEL,LFPG,AFR,28,5,2017,Domingo,I,Air France,Santiago,Paris
24304,2017-05-11 10:00:00,802,SCEL,SPJC,SKU,2017-05-11 10:36:00,802R,SCEL,SPJC,SKU,11,5,2017,Jueves,I,Sky Airline,Santiago,Lima
27246,2017-05-15 12:15:00,114,SCEL,SCAT,LAN,2017-05-15 13:10:00,114R,SCEL,SCAT,LAN,15,5,2017,Lunes,N,Grupo LATAM,Santiago,Copiapo
27247,2017-05-25 13:15:00,622,SCEL,MMMX,LAN,2017-05-25 13:23:00,622R,SCEL,MMMX,LAN,25,5,2017,Jueves,I,Grupo LATAM,Santiago,Ciudad de Mexico
27464,2017-06-16 20:30:00,940P,SCEL,KDFW,AAL,2017-06-16 20:50:00,940,SCEL,KDFW,AAL,16,6,2017,Viernes,I,American Airlines,Santiago,Dallas
32196,2017-06-29 12:40:00,492,SCEL,SACO,LAN,2017-06-29 12:27:00,492R,SCEL,SACO,LAN,29,6,2017,Jueves,I,Grupo LATAM,Santiago,Cordoba
38150,2017-07-10 23:30:00,338,SCEL,SCFA,LXP,2017-07-10 23:35:00,338R,SCEL,SCFA,LXP,10,7,2017,Lunes,N,Grupo LATAM,Santiago,Antofagasta
39225,2017-08-07 19:00:00,591P,SCEL,LFPG,PUE,2017-08-07 20:35:00,591P,SCEL,LFPG,PUE,7,8,2017,Lunes,I,Plus Ultra Lineas Aereas,Santiago,Paris
39266,2017-08-24 23:00:00,846A,SCEL,KIAH,UAL,2017-08-24 23:00:00,2804,SCEL,KIAH,UAL,24,8,2017,Jueves,I,United Airlines,Santiago,Houston
44939,2017-09-28 21:30:00,846,SCEL,KIAH,UAL,2017-09-28 21:44:00,846A,SCEL,KIAH,UAL,28,9,2017,Jueves,I,United Airlines,Santiago,Houston
55354,2017-10-19 03:30:00,502,SCEL,KMIA,LAN,2017-10-19 03:33:00,502R,SCEL,KMIA,LAN,19,10,2017,Jueves,I,Grupo LATAM,Santiago,Miami
58126,2017-11-05 17:00:00,1104A,SCEL,SCSE,SKU,2017-11-05 17:42:00,1104,SCEL,SCSE,SKU,5,11,2017,Domingo,N,Sky Airline,Santiago,La Serena
61426,2017-11-05 16:30:00,207,SCEL,SCIE,LXP,2017-11-05 18:22:00,207R,SCEL,SCIE,LXP,5,11,2017,Domingo,N,Grupo LATAM,Santiago,Concepcion

Vemos que los casos que no pueden ser convertidos a str son porque tienen una letra al final, esto podría ser algún código de la aerolínea o simplemente un error a la hora de ingresar el dato, supondré que es esto último y que el número es el correcto al quitar la letra del final.

Además vemos que hay una fila con un Nan.

In [8]:
data.loc[not_numeric_1, 'Vlo-I'] = data.loc[not_numeric_1, 'Vlo-I'].apply(lambda x: x[:-1] if isinstance(x, str) and not x[-1].isnumeric() else x)
data.loc[not_numeric_2, 'Vlo-O'] = data.loc[not_numeric_2, 'Vlo-O'].apply(lambda x: x[:-1] if isinstance(x, str) and not x[-1].isnumeric() else x)
data.loc[not_numeric]

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
6068,2017-01-19 11:00:00,200,SCEL,SPJC,LAW,2017-01-19 11:03:00,NaN,SCEL,SPJC,56R,19,1,2017,Jueves,I,Latin American Wings,Santiago,Lima
13906,2017-03-30 10:30:00,71,SCEL,SCIE,SKU,2017-03-30 10:50:00,71,SCEL,SCIE,SKU,30,3,2017,Jueves,N,Sky Airline,Santiago,Concepcion
13907,2017-03-22 11:00:00,1071,SCEL,SCIE,SKU,2017-03-22 11:00:00,71,SCEL,SCIE,SKU,22,3,2017,Miercoles,N,Sky Airline,Santiago,Concepcion
17055,2017-03-22 10:00:00,201,SCEL,SCIE,LXP,2017-03-22 11:50:00,201,SCEL,SCIE,LXP,22,3,2017,Miercoles,N,Grupo LATAM,Santiago,Concepcion
19207,2017-04-25 09:00:00,71,SCEL,SCIE,SKU,2017-04-25 09:29:00,71,SCEL,SCIE,SKU,25,4,2017,Martes,N,Sky Airline,Santiago,Concepcion
22167,2017-04-06 21:10:00,43,SCEL,SCIE,LAW,2017-04-06 21:24:00,43,SCEL,SCIE,JMR,6,4,2017,Jueves,N,Latin American Wings,Santiago,Concepcion
22232,2017-05-13 21:50:00,989,SCEL,SUMU,AAL,2017-05-13 21:52:00,989,SCEL,SUMU,AAL,13,5,2017,Sabado,I,American Airlines,Santiago,Montevideo
22301,2017-05-26 09:40:00,401,SCEL,LFPG,AFR,2017-05-26 10:03:00,401,SCEL,LFPG,AFR,26,5,2017,Viernes,I,Air France,Santiago,Paris
22302,2017-05-28 09:40:00,401,SCEL,LFPG,AFR,2017-05-28 09:43:00,401,SCEL,LFPG,AFR,28,5,2017,Domingo,I,Air France,Santiago,Paris
24304,2017-05-11 10:00:00,802,SCEL,SPJC,SKU,2017-05-11 10:36:00,802,SCEL,SPJC,SKU,11,5,2017,Jueves,I,Sky Airline,Santiago,Lima
27246,2017-05-15 12:15:00,114,SCEL,SCAT,LAN,2017-05-15 13:10:00,114,SCEL,SCAT,LAN,15,5,2017,Lunes,N,Grupo LATAM,Santiago,Copiapo
27247,2017-05-25 13:15:00,622,SCEL,MMMX,LAN,2017-05-25 13:23:00,622,SCEL,MMMX,LAN,25,5,2017,Jueves,I,Grupo LATAM,Santiago,Ciudad de Mexico
27464,2017-06-16 20:30:00,940,SCEL,KDFW,AAL,2017-06-16 20:50:00,940,SCEL,KDFW,AAL,16,6,2017,Viernes,I,American Airlines,Santiago,Dallas
32196,2017-06-29 12:40:00,492,SCEL,SACO,LAN,2017-06-29 12:27:00,492,SCEL,SACO,LAN,29,6,2017,Jueves,I,Grupo LATAM,Santiago,Cordoba
38150,2017-07-10 23:30:00,338,SCEL,SCFA,LXP,2017-07-10 23:35:00,338,SCEL,SCFA,LXP,10,7,2017,Lunes,N,Grupo LATAM,Santiago,Antofagasta
39225,2017-08-07 19:00:00,591,SCEL,LFPG,PUE,2017-08-07 20:35:00,591,SCEL,LFPG,PUE,7,8,2017,Lunes,I,Plus Ultra Lineas Aereas,Santiago,Paris
39266,2017-08-24 23:00:00,846,SCEL,KIAH,UAL,2017-08-24 23:00:00,2804,SCEL,KIAH,UAL,24,8,2017,Jueves,I,United Airlines,Santiago,Houston
44939,2017-09-28 21:30:00,846,SCEL,KIAH,UAL,2017-09-28 21:44:00,846,SCEL,KIAH,UAL,28,9,2017,Jueves,I,United Airlines,Santiago,Houston
55354,2017-10-19 03:30:00,502,SCEL,KMIA,LAN,2017-10-19 03:33:00,502,SCEL,KMIA,LAN,19,10,2017,Jueves,I,Grupo LATAM,Santiago,Miami
58126,2017-11-05 17:00:00,1104,SCEL,SCSE,SKU,2017-11-05 17:42:00,1104,SCEL,SCSE,SKU,5,11,2017,Domingo,N,Sky Airline,Santiago,La Serena
61426,2017-11-05 16:30:00,207,SCEL,SCIE,LXP,2017-11-05 18:22:00,207,SCEL,SCIE,LXP,5,11,2017,Domingo,N,Grupo LATAM,Santiago,Concepcion

In [9]:
# Check Nan values in the whole dataset
data.isna().sum()

Fecha-I      0
Vlo-I        0
Ori-I        0
Des-I        0
Emp-I        0
Fecha-O      0
Vlo-O        1
Ori-O        0
Des-O        0
Emp-O        0
DIA          0
MES          0
AÑO          0
DIANOM       0
TIPOVUELO    0
OPERA        0
SIGLAORI     0
SIGLADES     0
dtype: int64

El Nan que vimos antes es el único en todo el dataset, por lo que se elimina esa fila.

Finalmente, se puede convertir los strings a int.

In [11]:
data['Vlo-I'] = data['Vlo-I'].astype(int)  # Cast str to int
data['Vlo-O'] = pd.to_numeric(data['Vlo-O'])  # Cast str to float first
data['Vlo-O'] = data['Vlo-O'].astype(int)  # Cast float to int
data.dtypes

Fecha-I      datetime64[ns]
Vlo-I                 int32
Ori-I                string
Des-I                string
Emp-I                string
Fecha-O      datetime64[ns]
Vlo-O                 int32
Ori-O                string
Des-O                string
Emp-O                string
DIA                   Int64
MES                   Int64
AÑO                   Int64
DIANOM               string
TIPOVUELO            string
OPERA                string
SIGLAORI             string
SIGLADES             string
dtype: object

## 2.3 Consistencia de los datos por columna
### 2.3.1 DIA, DIANOM, MES, AÑO, OPERA, SIGLAORI, SIGLADES

In [12]:
print(f"Días del mes: {np.sort(data['DIA'].unique())}\n")
print(f"Días de la semana: {np.sort(data['DIANOM'].unique())}\n")
print(f"Meses: {np.sort(data['MES'].unique())}\n")
print(f"Años: {np.sort(data['AÑO'].unique())}\n")
print(f"Aerolíneas: {np.sort(data['OPERA'].unique())}\n")
print(f"Ciudades de origen: {np.sort(data['SIGLAORI'].unique())}\n")
print(f"Ciudades destino: {np.sort(data['SIGLADES'].unique())}\n")

Días del mes: [1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27
 28 29 30 31]

Días de la semana: ['Domingo' 'Jueves' 'Lunes' 'Martes' 'Miercoles' 'Sabado' 'Viernes']

Meses: [1 2 3 4 5 6 7 8 9 10 11 12]

Años: [2017 2018]

Aerolíneas: ['Aerolineas Argentinas' 'Aeromexico' 'Air Canada' 'Air France' 'Alitalia'
 'American Airlines' 'Austral' 'Avianca' 'British Airways' 'Copa Air'
 'Delta Air' 'Gol Trans' 'Grupo LATAM' 'Iberia' 'JetSmart SPA' 'K.L.M.'
 'Lacsa' 'Latin American Wings' 'Oceanair Linhas Aereas'
 'Plus Ultra Lineas Aereas' 'Qantas Airways' 'Sky Airline'
 'United Airlines']

Ciudades de origen: ['Santiago']

Ciudades destino: ['Antofagasta' 'Arica' 'Asuncion' 'Atlanta' 'Auckland N.Z.' 'Balmaceda'
 'Bariloche' 'Bogota' 'Buenos Aires' 'Calama' 'Cancun' 'Castro (Chiloe)'
 'Cataratas Iguacu' 'Ciudad de Mexico' 'Ciudad de Panama' 'Cochabamba'
 'Concepcion' 'Copiapo' 'Cordoba' 'Curitiba, Bra.' 'Dallas'
 'Florianapolis' 'Guayaquil' 'Houston' 'Iquique' 'Isla de Pascua' 'La Paz'
 'La Serena' 'Lima' 'Londres' 'Los Angeles' 'Madrid' 'Melbourne' 'Mendoza'
 'Miami' 'Montevideo' 'Neuquen' 'Nueva York' 'Orlando' 'Osorno' 'Paris'
 'Pisco, Peru' 'Puerto Montt' 'Puerto Natales' 'Puerto Stanley'
 'Punta Arenas' 'Punta Cana' 'Punta del Este' 'Quito' 'Rio de Janeiro'
 'Roma' 'Rosario' 'San Juan, Arg.' 'Santa Cruz' 'Sao Paulo' 'Sydney'
 'Temuco' 'Toronto' 'Tucuman' 'Ushuia' 'Valdivia' 'Washington']

- Los días del mes, días de la semana y meses tienen todos los valores posibles. Además vemos que los datos son de 2017 y 2018.
- Las aerolíneas están correctas y no se dan repeticiones erróneas (por typos por ejemplo).
- Se ve que la única ciudad de origen es Santiago mientras que los destinos son diferentes ciudades en América, Europa y Australia. Además no se dan repeticiones erróneas.

Adicionalmente, uno esperaría que los datos de programación en general sean iguales a los de operación, excepto el tiempo que es lo que se busca predecir, por lo que se verán esas comparaciones a continuación.

### 2.3.2 Ciudad de origen programada vs operacional

In [19]:
(data['Ori-I'] == data['Ori-O']).value_counts()/len(data) * 100

True    100.0
dtype: Float64

Todos los códigos de origen coinciden en programación y operación.

### 2.3.3 Ciudad de destino programada vs operacional

In [20]:
(data['Des-I'] == data['Des-O']).value_counts()/len(data) * 100

True     99.958947
False     0.041053
dtype: Float64

En unos pocos casos se tiene que el código de destino es diferente entre programación y operación, veamos los códigos para las ciudades que tienen esta diferencia y la cantidad de códigos coincidentes y no coincidentes.

In [21]:
# Search for cities which have mismatch in Des-I and Des-O
des_mismatch = data.loc[data['Des-I'] != data['Des-O'], 'SIGLADES'].unique().tolist()
# Count unique ocurrences of (Des-I, Des-O) for the mismatching cities
df_mismatch = data.loc[data['SIGLADES'].isin(des_mismatch)].groupby(['Des-I', 'Des-O','SIGLADES']).size().reset_index(name='count').sort_values(by=['SIGLADES','count'], ascending=[True, False])
df_mismatch['des_match'] = df_mismatch['Des-I'] == df_mismatch['Des-O']
df_mismatch

   Des-I Des-O          SIGLADES  count  des_match
6   SAEZ  SAEZ      Buenos Aires   3237       True
3   SABE  SABE      Buenos Aires   3090       True
4   SABE  SAEZ      Buenos Aires      4      False
5   SAEZ  SABE      Buenos Aires      3      False
22  SEGU  SABE      Buenos Aires      1      False
12  SCCF  SCCF            Calama   5145       True
15  SCFA  SCCF            Calama      1      False
7   SARI  SBFI  Cataratas Iguacu      1      False
8   SBFI  SBFI  Cataratas Iguacu      1       True
25  YMML  YMML         Melbourne     38       True
26  YSSY  YMML         Melbourne      1      False
2   KMIA  KMIA             Miami   1015       True
1   KJFK  KMIA             Miami      1      False
21  SCTE  SCTE      Puerto Montt   4351       True
11  SCBA  SCTE      Puerto Montt      4      False
14  SCCI  SCTE      Puerto Montt      1      False
17  SCIE  SCTE      Puerto Montt      1      False
13  SCCI  SCCI      Punta Arenas   2104       True
19  SCTE  SCCI      Punta Arenas      1      False
23  SEQM  SEQM             Quito      1       True
24  SEQU  SEQM             Quito      1      False
9   SBGL  SBGL    Rio de Janeiro   1434       True
10  SBGR  SBGL    Rio de Janeiro      1      False
18  SCQP  SCQP            Temuco   2583       True
20  SCTE  SCQP            Temuco      5      False
16  SCIE  SCQP            Temuco      1      False
0   KIAH  KIAD        Washington      1      False

Una razón por la que puede haber incongruencia es en el caso que hayan datos incorrectos, o sea códigos que no corresponden a ningún aeropuerto así que veamos si es el caso.

In [22]:
air_codes = airdata.load()


def get_icao_data(x, key, codes):
    try:
        airport = codes[x]
        try:
            return airport[key]
        except KeyError:
            print(f'{key} is not a valid airport data.')
    except KeyError:
        return None


    
data['city_i'] = data['Des-I'].apply(get_icao_data, key='city', codes=air_codes)
data['name_i'] = data['Des-I'].apply(get_icao_data, key='name', codes=air_codes)
data['city_o'] = data['Des-O'].apply(get_icao_data, key='city', codes=air_codes)    
data['name_o'] = data['Des-O'].apply(get_icao_data, key='name', codes=air_codes)
data.loc[(data['name_i'].isna()) | (data['name_o'].isna())].drop_duplicates(subset=['name_i', 'city_i', 'Des-I', 'name_o', 'city_o', 'Des-O', 'SIGLADES'])

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,...,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,city_i,name_i,city_o,name_o
1397,2017-01-17 19:20:00,25,SCEL,SCTE,SKU,2017-01-17 19:46:00,25,SCEL,SCQP,SKU,...,2017,Martes,N,Sky Airline,Santiago,Temuco,Puerto Montt,El Tepual Airport,None,None
1463,2017-01-01 08:30:00,51,SCEL,SCQP,SKU,2017-01-01 08:26:00,51,SCEL,SCQP,SKU,...,2017,Domingo,N,Sky Airline,Santiago,Temuco,None,None,None,None
7520,2017-02-27 06:40:00,71,SCEL,SCIE,SKU,2017-02-27 09:07:00,71,SCEL,SCQP,SKU,...,2017,Lunes,N,Sky Airline,Santiago,Temuco,Concepcion,Carriel Sur Airport,None,None
55144,2017-10-06 00:55:00,1260,SCEL,SEQU,LAN,2017-10-06 02:15:00,1260,SCEL,SEQM,LAN,...,2017,Viernes,I,Grupo LATAM,Santiago,Quito,None,None,Quito,Nuevo Aeropuerto Internacional Mariscal Sucre

Los únicos códigos que no corresponden son los de Temuco (SCQP) y Quito (SEQU), pero al investigar corroboré que estos códigos sí corresponden a esas ciudades ([ICAO Temuco](https://www.codigosinternacionales.com/icao/codigo-icao-del-aeropuerto-de-freire-temuco/), [ICAO Quito](https://airportcodes.aero/uio/quito-airport-code)), es un problema de la librería que no está actualizada.

Por lo tanto los cambios en código de destino no se deben a códigos erróneos.

Por otro lado, la razón por la que hay códigos que cambian podría deberse a cambios en ciudades con más de un aeropuerto, osea el mismo vuelo hacia la misma ciudad que aterriza en un aeropuerto distinto al planificado.

Además, se puede tener el caso de que el destino cambia como en el ejemplo de arriba se tiene un vuelo programado hacia Pto. Montt, pero en la operación fue a Temuco, lo cual puede deberse a problemas ambientales, cambios de vuelo, etc.

In [23]:
# Add missing ICAO codes to library dict
air_codes_fix = air_codes.copy()
air_codes_fix['SEQU'] = {'icao': 'SEQU',
              'name': 'Mariscal Sucre International Airport',
              'city': 'Quito'}
air_codes_fix['SCQP'] = {'icao': 'SCQP',
              'name': 'Aeropuerto Internacional La Araucanía',
              'city': 'Temuco'}

In [24]:
data['city_i'] = data['Des-I'].apply(get_icao_data, key='city', codes=air_codes_fix)
data['name_i'] = data['Des-I'].apply(get_icao_data, key='name', codes=air_codes_fix)
data['city_o'] = data['Des-O'].apply(get_icao_data, key='city', codes=air_codes_fix)    
data['name_o'] = data['Des-O'].apply(get_icao_data, key='name', codes=air_codes_fix)

# This is the same code as before but now having the new name and city columns from the ICAO code
des_mismatch = data.loc[data['Des-I'] != data['Des-O'], 'SIGLADES'].unique().tolist()
df_mismatch = data.loc[data['SIGLADES'].isin(des_mismatch)].groupby(['name_i', 'city_i', 'name_o', 'city_o', 'SIGLADES']).size().reset_index(name='count').sort_values(by=['SIGLADES','count'], ascending=[True, False])
cond = (df_mismatch['name_i'] != df_mismatch['name_o']) | (df_mismatch['city_i'] != df_mismatch['city_o'])
df_mismatch.loc[cond]

,name_i,city_i,name_o,city_o,SIGLADES,count
16,Jorge Newbery Airpark,Buenos Aires,Ministro Pistarini International Airport,Ezeiza,Buenos Aires,4
20,Ministro Pistarini International Airport,Ezeiza,Jorge Newbery Airpark,Buenos Aires,Buenos Aires,3
25,Simon Bolivar International Airport,Guayaquil,Jorge Newbery Airpark,Buenos Aires,Buenos Aires,1
6,Cerro Moreno Airport,Antofagasta,El Loa Airport,Calama,Calama,1
4,Cataratas Del Iguazu International Airport,Puerto Iguazu,Cataratas International Airport,Foz Do Iguacu,Cataratas Iguacu,1
26,Sydney Kingsford Smith International Airport,Sydney,Melbourne International Airport,Melbourne,Melbourne,1
14,John F Kennedy International Airport,New York,Miami International Airport,Miami,Miami,1
1,Balmaceda Airport,Balmaceda,El Tepual Airport,Puerto Montt,Puerto Montt,4
3,Carriel Sur Airport,Concepcion,El Tepual Airport,Puerto Montt,Puerto Montt,1
23,Pdte. Carlos Ibanez del Campo Airport,Punta Arenas,El Tepual Airport,Puerto Montt,Puerto Montt,1
10,El Tepual Airport,Puerto Montt,Pdte. Carlos Ibanez del Campo Airport,Punta Arenas,Punta Arenas,1
17,Mariscal Sucre International Airport,Quito,Nuevo Aeropuerto Internacional Mariscal Sucre,Quito,Quito,1
13,Guarulhos - Governador Andre Franco Montoro In...,Sao Paulo,Galeao - Antonio Carlos Jobim International Ai...,Rio De Janeiro,Rio de Janeiro,1
8,El Tepual Airport,Puerto Montt,Aeropuerto Internacional La Araucanía,Temuco,Temuco,5
2,Carriel Sur Airport,Concepcion,Aeropuerto Internacional La Araucanía,Temuco,Temuco,1
12,George Bush Intercontinental Houston Airport,Houston,Washington Dulles International Airport,Dulles,Washington,1

Efectivamente ocurre que en algunos casos se cambia de aeropuerto para una misma ciudad y en otros casos se cambia de ciudad. Además vemos que la columna 'SIGLADES' corresponde a la ciudad de operación, no la programada, por lo que sería una columna redundante.

Dado que no son demasiados datos (28 filas) con esta incongruencia, podrían eliminarse sin problema. Otra opción sería agregar variables categóricas que indiquen si la fila tuvo cambio de aeropuerto dentro de la misma ciudad o cambio de destino, aunque en este último caso no tendría mucho sentido medir el atraso si el destino es distinto, pues los tiempos de vuelo también lo serán.